<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="index.css" rel="stylesheet">
    {% seo %}
  </head>
  <body>
    <div class="container-lg py-6">
      <div class="clearfix gutter-md-spacious">
        <div class="float-left col-md-4">
          <img class="width-full" src="me.jpg" alt="Nat Friedman">
        </div>
        <div class="float-left col-md-8">
          <div class="markdown-body">
            {{ content }}
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
